h1 {
	font-size:50px;
	text-align:center;
}

h2 {
	font-size:15px;
	text-align:center;
}

.btn {
	margin-top:25px;
}

body {
	background-image:url(../background.jpg);
}

.heading {
	margin-top:150px;
}

.board-heading {
	text-align:center;
	color:#fff;
}

.portrait {
	margin-top:50px;
	padding-bottom:50px;
}

.bio {
	margin-top:50px;
	margin-left:-100px;
	background-color:#fff;
	padding-bottom:-15px;
	padding-left:10px;
	padding-right:5px;
	padding-top:60px;
	height:263px;
}

.events-info {
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
}

.events-images {
	margin-bottom:20px;
}

.btn {
	text-align:center;
}

.col-md-offset-5 {
	width:190px;
}

body { 
	padding-top: 70px; 
}

body.what img {
    cursor:pointer;
}
