h1 {
	font-size:50px;
	text-align:center;
}

h2 {
	font-size:15px;
	text-align:center;
}


body {
	background-image:url(../background.jpg);
}

.heading {
	margin-top:150px;
}

.board-heading {
	text-align:center;
	color:#000;
}

.portrait {
	margin-top:50px;
	padding-bottom:50px;
}

.bio {
	margin-top:50px;
	margin-bottom:10px;
	background-color:#fff;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:5px;
	padding-top:60px;
	height:263px;
}

.events-info {
	margin-top:20px;
	margin-bottom:50px;
	text-align:center;
}

.
.events-images {
	margin-bottom:20px;
}

.col-xs-offset-5 {
	width:190px;
}

body { 
	padding-top: 70px; 
}

body.what img {
    cursor:pointer;
}

.thumbnail {
	height:580px;
}

.btn {
	display:block;
	margin-top:25px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
